<section class="contact" id="contacto">
  <div class="container">
    <h2 class="title-40 text-dark-blue">Contacto</h2>
    <p class="body-16">
      ¿Tienes preguntas o quieres más información? ¡Nos encantaría saber de ti!
      Completa el formulario a continuación o envíanos un correo electrónico a
      <a href="mailto:hola@arkytas.com" class="link-primary"> </a>
    </p>
  </div>
</section>
